/******************************************************************************/
/* GLOBAL SETTINGS */

@font-face {
  font-family: "agb";
  font-style: normal;
  font-weight: normal;
  src: 
    url("../fonts/b.eot") format("eot"), 
    url("../fonts/b.woff") format("woff"), 
    url("../fonts/b.ttf") format("truetype"), 
    url("../fonts/b.svgz") format("svg");
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  font-family: "agb", "helvetica neue", helvetica, arial, sans-serif;  
  background: whiteSmoke url('../images/background.gif') fixed;
  color: #818486;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke: 1px rgba(0,0,0,0);  
}

a {
  text-decoration: none;
  color: #1492D6;
}
a, a:link, nav a:visited, nav a:active {
  color: #1492D6;
}      
a:hover {
  color: #0E6999;
  outline: medium none;
}

h2 {
  font-size: 33px;
  font-weight: normal;
  text-align: center;
  margin-bottom: 35px;
  color: black;
}
h3 {
  font-weight: normal;
}

iframe {
  border: 1px solid #cccccc;
}

section {
  margin: auto;
  background: white;
  box-shadow: #E1E1E3 0px 0px 3px 0px;
  width: 1020px;
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: -webkit-linear-gradient(top, whiteSmoke,white 25%,white);
  background-image: -moz-linear-gradient(top, whiteSmoke,white 25%,white);
  background-image: -o-linear-gradient(top, whiteSmoke,white 25%,white);
  background-image: linear-gradient(top, whiteSmoke,white 25%,white); 
}

/******************************************************************************/
/* HEADER */

header {
  height: 70px;   
  border-bottom: 1px solid white;
  min-width: 1020px;
  background: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.2);  
}

nav {
  width: 100%;
  position: relative;
  float: left;          
  overflow: hidden;
}
nav ul {
  position: relative;
  left: 50%;
  text-align: center; 
  clear: left;
  float: left;
  list-style: none;
}
nav li {        
  position: relative;
  display: block;
  float: left;
  right: 50%;
  list-style: none;  
}

nav li {
  background-repeat: no-repeat; 
  background-position: 30px 0px;           
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;        
  margin-top: 17px; 
  padding: 0px 30px;
  height: 36px;
}

nav li + li {
  border-left: none;
}

nav a {
  font-size: 17px; 
  margin-left: 43px; 
  line-height: 2em; 
  font-weight: normal; 
}      
nav a, nav a:link, nav a:visited, nav a:active {
  color: black;
}      
nav a:hover {
  color: #1492D6;
}

#about-tab {
  background-image: url("../images/what.png");
}
#whenwhere-tab {
  background-image: url("../images/whenwhere.png");
}
#faq-tab {
  background-image: url("../images/faq.png");
}
#contact-tab {
  background-image: url("../images/contact.png");
}
#cn-tab {
  background-image: url("../images/china.png");
}
#en-tab {
  background-image: url("../images/uk.png");
}

/******************************************************************************/
/* COVER SECTION */

#cover {
  text-align: center; 
  font-size: 16px;
  padding-top: 0px;
  padding-bottom: 0px;
  background-image: none;
  box-shadow: none;
  margin-top: 1px;
}

#cover-poster {
  position: relative; 
  background-image: url("../images/cover.jpg");
  height: 373px;
}

#cover-poster {
  position: relative; 
  background-image: url("../images/cover.jpg");
  height: 373px;
}

#cover-poster-cn {
  position: relative; 
  background-image: url("../images/cover_chinese.jpg");
  height: 373px;
}

#weibo-link {
  background-image: url("../images/weibo.png"); 
  display: inline-block; 
  height: 35px; 
  width: 35px;
  position: absolute;
  left: 850px;
  top: 30px;        
}

#fb-link {
  background-image: url("../images/fb.png"); 
  display: inline-block; 
  height: 36px; 
  width: 36px;
  position: absolute;
  left: 909px;
  top: 30px;
}

#announcing-text {
  padding-top: 20px;   
  color: black; 
  line-height: 30px;
}

#register-button {
  font-family: "agb","helvetica neue", helvetica, arial, sans-serif; 
  padding: 10px 15px;
  margin: 10px 0px 20px 0px;
}

#countdown-text {
  padding-bottom: 40px; 
  margin: 0px 70px; 
  border-bottom: 1px solid #dddddd;
  text-align: center; 
  font-style: italic; 
  font-size: 13px; 
}

/******************************************************************************/
/* ABOUT SECTION */

#about {
  font-size: 15px; 
  text-align: justify;
  padding-top: 40px;
  padding-left: 120px;
  padding-right: 120px;
  background-image: none;
  box-shadow: none;
}

#about div {
  margin: 25px 0px;
  text-align: center
}

#about h3 {
  margin-bottom: 5px; 
  font-size: 15px;
  color: black;
}

#about iframe {
  width: 610px;
  height: 384px; 
}


#about div p {
  margin-top: 10px; 
  font-size: 14px
}

/******************************************************************************/
/* WHENWHERE SECTION */

#whenwhere {
  text-align: center;
}

#whenwhere p {
  font-size: 15px; 
  text-align: justify;  
  padding-left: 120px;
  padding-right: 120px;
  margin-bottom: 35px;
}


#whenwhere iframe {
  width: 700px;
  height: 420px;
}

#whenwhere iframe + p {
  font-size: 14px; 
  margin-top: 10px;
}

/******************************************************************************/
/* FAQ SECTION */

#faq {
  padding-left: 110px;
  padding-right: 110px;
  padding-bottom: 40px;
}

#faq h3 {
  font-size: 22px; 
  color: black; 
  margin-bottom: 5px;
}

#faq p {
  text-align: justify; 
  font-size: 15px; 
  margin-bottom: 25px;
}

/******************************************************************************/
/* CONTACT SECTION */

#contact {
  font-size: 16px;
  text-align: justify;
  padding-left: 110px;
  padding-right: 110px;
}

#contact p + p {
  margin-top: 20px;
}

/******************************************************************************/
/* FOOTER */

footer {
  font-size: 15px;
  padding: 25px; 
  font-style: italic;
  text-align: center;
}

/******************************************************************************/
/* PRETTY BUTTON STYLING */

.pretty-button, .pretty-button:visited {
  border-color: #003C8B;
  border-color: #34BFF3 rgba(0, 0, 0, 0.05) #003C8B;
  border-width: 1px;
  border-style: solid;
  background: #34BFF3;
  background: -webkit-linear-gradient(#34BFF3,#074AA2);
  background: -moz-linear-gradient(#34BFF3,#074AA2);
  background: -o-linear-gradient(#34BFF3,#074AA2);
  background: linear-gradient(#34BFF3,#074AA2);
  text-shadow: 0 -1px rgba(0, 0, 0, 0.5);
  color: white;
  -webkit-box-shadow: inset 0 1px #60CBFA;
  -moz-box-shadow: inset 0 1px #60cbfa;
  box-shadow: inset 0 1px #60CBFA;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  line-height: 18px;
  display: inline-block;
  min-width: 90px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 7px 20px 7px 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-decoration: none;
  vertical-align: baseline;
}

.pretty-button:hover {
  background: -webkit-linear-gradient(#48C5FA, #1788D4);
  background: -moz-linear-gradient(#48C5FA, #1788D4);
  background: -o-linear-gradient(#48C5FA, #1788D4);
  background: linear-gradient(#48C5FA, #1788D4);
  border-color: #34BFF3 rgba(0, 0, 0, 0.1) #0568A6;
  color: white;
}

.pretty-button:active {
  background: -webkit-linear-gradient(#0049A8, #0F8BD6);
  background: -moz-linear-gradient(#0049A8, #0F8BD6);
  background: -o-linear-gradient(#0049A8, #0F8BD6);
  background: linear-gradient(#0049A8, #0F8BD6);  
  border-color: #011938 #063E6C #0F6CA0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3) inset, 0 1px 0 1px rgba(0, 0, 0, 0.1) inset, 0 1px rgba(0, 0, 0, 0.2) inset;
  color: white;
}

.pretty-button:link {
  color: white;
}